<div class="login login-layout" layout="row" layout-padding ng-cloak layout-margin layout-align="center center">
    <md-whiteframe class="md-whiteframe-2dp" flex-xs="85" flex-gt-xs="75" flex-gt-sm="65" layout="column"
                   layout-align="center center">
        <h2 class="md-display-1">פרטים נוספים</h2>

        <md-content>
            <form name="signupDetailsForm" layout-margin novalidate>

                <div layout="column" layout-gt-sm="row" layout-margin layout-padding>
                    <md-input-container class="md-block">
                        <label>שם פרטי</label>
                        <input md-maxlength="10" required name="firstName" ng-model="firstName" title="שם פרטי">
                        <div ng-messages="signupDetailsForm.firstName.$error">
                            <div ng-message="required">אין לך שם פרטי?!</div>
                            <div ng-message="md-maxlength">יש לך בשם הפרטי יותר מ20 אותיות?!</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>שם משפחה</label>
                        <input md-maxlength="20" required name="lastName" ng-model="lastName" title="שם משפחה">
                        <div ng-messages="signupDetailsForm.lastName.$error">
                            <div ng-message="required">מה עם שם משפחה?</div>
                            <div ng-message="md-maxlength">שם משפחה ארוך קצת, לא?</div>
                        </div>
                    </md-input-container>
                </div>


                <div layout="row" layout-margin layout-padding layout-align="center">
                    <md-input-container class="md-block" flex="85">
                        <label>מספר טלפון</label>
                        <input maxlength="7" minlength="7" required name="phone" ng-model="phone"
                               title="טלפון">
                        <div ng-messages="signupDetailsForm.phone.$error">
                            <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                לא נראה כמו מספר טלפון...
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="15">
                        <label>קידומת</label>
                        <md-select required ng-model="phonePrefix" name="phonePrefix">
                            <md-option ng-repeat="prefix in prefixes" value="{{prefix}}">
                                {{prefix}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <md-button type="submit" class="md-raised md-primary" ng-click="submit()"
                           ng-disabled="!signupDetailsForm.$valid">
                    קדימה!
                </md-button>
            </form>
        </md-content>



    </md-whiteframe>
</div>